{#
/**
 * @file
 * Template for the system menu block.
 */
#}
{% include 'sector_theme:follow-block' with {
  html_tag: 'div',
  utility_classes: [
    'block--menu-social--follow',
  ],
  title_attributes: title_attributes.addClass('block--title--social--follow')
} %}
